/* Demo CSS */
/*@font-face {*/
    /*font-family: 'Roboto', sans-serif;*/
    /*src: url(https://fonts.googleapis.com/css?family=Roboto:500);*/
/*}*/
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    border-radius: 0px;
}

.navbar-default.damavand-navbar {
    font-family: 'Roboto', sans-serif;
    background-color: #535353;
    margin-bottom: 0px;
    border: none;
}
.navbar-default.damavand-navbar .navbar-brand {
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

.navbar-default.damavand-navbar .navbar-nav>li>a {
    font-family: 'Roboto', sans-serif;
    color: #FFF;
}

.navbar-default.damavand-navbar .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #E3F1E3;
    color: #535353;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.view-project-subheader {
    background-color: #E3F1E3;
}

#task-subheader {
    padding-top:10px;
    padding-bottom: 10px;
}
#supplier-subheader{
    padding-top:10px;
    padding-bottom: 10px;
}

#contractor-subheader{
    padding-top:10px;
    padding-bottom:10px;
}

#new-supplier{
    display: none;
    padding-bottom: 10px;
}

#new-contractor{
    display:none;
    padding-bottom: 10px;
}

#new-task {
    display: none;
}

#new-po {
    display: none;
}

.task-list {
    background-color: #FFF;
    color: #535353;
    height: 100vh;
    font-weight: 600;
    padding: 0px;
}

.task-list td {
    cursor: pointer;
}
.task-list h5 {
    padding-left: 50px;
    text-transform: uppercase;
}
.task-list td.task-name-col {
    padding-left: 50px;
}

.task-list td:hover {
    background-color: #F8FAF8;
}

.borderless td, .borderless th {
    border: 0px !important;
}

.po-list {
    background-color: #F8FAF8;
    height: 100vh;
}

body {
    font-size: 15px;

}

.main-container {
    box-shadow: 0px 0px 1px 0px #afafaf;
    height: 100vh;
}

table {
    font-size: 13px;
}



.clickable-row {
    cursor: pointer;
}

.invisible-panel {
    display: none;
    border-bottom: none;
}

.po-panel {
    background-color: #F8FAF8;
    height: 100vh;
}

.content-box {
    background-color: #fff;
}

.po-content-label {
    text-transform: uppercase;
    margin-top: -15px;
}

#project-po-list {
    margin-bottom: 40px;
    margin-top: 40px;
    height: 30vh;
}

.selected-task {
    background-color: #F8FAF8
}

.inline-input input, .inline-input select{
    display: inline;
}

#main-task-list {
    margin-top: 40px;
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

/* Employee Css */

#main-employees-list{
    margin-top: 50px;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}









